.container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.header {
  grid-column: 1/2;
  grid-row: 1;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 2;
  grid-row: 2;
}

tr:hover {
  background-color: rgb(240, 240, 240);
  transition: 0.15s ease;
  cursor: pointer;
}

tr:active {
  background-color: rgb(255, 228, 75);
  transition: 0.15s ease;
}

.highlight {
  background-color: blue;
}

.active {
  background-color: rgb(240, 240, 240);
}
