.mainHeader {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  font-family: "Monaco";
  -webkit-text-stroke-width: 0.05px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0;
}

.main {
  /* border: solid pink; */
  height: 100%;
  width: 100%;
}

.navWrapper {
  /* border: solid green; */
  margin: 0 auto;
  text-align: center;
}

.nav {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: "Monaco";
  color: rgba(255, 255, 255, 0.683);
  margin: 50px, 0;
  transition: 0.25s ease;
}

.nav:hover {
  transition: 0.25s ease;
  text-shadow: 0px 0px 10px #ffffffb9;
}
